<header>
    <span class="logo">Top Games</span>
    <nav>
        <ul class="nav__links">
            <li [routerLink]="['gameFeed']" routerLinkActive="active"><a href="" [routerLink]="['/gameFeed']" routerLinkActive="is-active">New Games</a></li>
            <li><a href="#">Slots</a></li>
            <li><a href="#">Jackpots</a></li>
            <li><a href="#">Live</a></li>
            <li><a href="#">Blackjack</a></li>
            <li><a href="#">Roulette</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </nav>
</header>
