.container {
    margin: 20px 80px;
    .game-card {
        &.grow {
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.1);
                z-index: 95
            }
        }
        display: inline-flex;
        border-radius: 10px;
        width: 280px;
        height: 168px;
        margin: 50px auto;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
        position: relative;
        z-index: 90;
        margin: 20px 2px;
        img {
            width: 100%;
            border-radius: 10px;
        }
        .ribbon-wrapper {
            height: 120px;
            width: 120px;
            overflow: hidden;
            position: absolute;
            top: -3px;
            right: -3px;
            .ribbon {
                font: bold 15px;
                color: white;
                text-align: center;
                font-weight: bold;
                font-family: "Roboto";
                text-shadow: rgba(0, 0, 0, 0.7);
                transform: rotate( 45deg);
                position: relative;
                padding: 7px 0;
                left: 34px;
                top: 13px;
                width: 113px;
                background-color: green;
            }
            .ribbon:before .ribbon:after {}
            .ribbon::before {}
        }
    }
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    grid-row: auto;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
